<h1 style="font-family: Impact, Charcoal, sans-serif; font-size: 45px;">Top 3 Trailers</h1>

<div style="text-align:center;">
  <h1>#1 <%= @movie_one.title %> (<%= @movie_one.rating %> Votes)</h1>
  <iframe src=<%= @movie_one.url %> frameborder="0" allowfullscreen></iframe>
</div>
<div style="text-align:center;">
  <h1>#2 <%= @movie_two.title %> (<%= @movie_two.rating %> Votes)</h2>
    <iframe src=<%= @movie_two.url %> frameborder="0" allowfullscreen></iframe>
</div>
<div style="text-align:center;">
  <h1>#3 <%= @movie_three.title %> (<%= @movie_three.rating %> Votes)</h2>
    <iframe src=<%= @movie_three.url %> frameborder="0" allowfullscreen></iframe>
</div>

<div style="text-align:center; padding: 3em;">
  <a href="/"<button name="button" type="submit" class="button">Rate Trailers</button></a>
</div>